.custom-pagination .swiper-wrapper {
  padding-bottom: 8px;
}
.custom-pagination .swiper-pagination {
  position: static;
  margin-top: 12px;
}
.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background: #d1d5db;
  transition: all 0.2s;
  opacity: 1;
  margin: 0 4px;
}
.custom-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background: #B50061;
  border-radius: 9999px;
}
